<!DOCTYPE html>
<html>
  <head>
    <title>404 - Can't find it :(</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	  <% include layout/menu %>

  	  <h1>Sorry Dude, not found...</h1>
  	  <p>Sorry, we cant find that...</p>
  </body>
</html>