<!DOCTYPE html>
<html>
  <head>
    <title><%= status %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <% include ../layout/menu %>
     <h1><%= status %> Error</h1>

    <p><%= msg %></p>

    <p> try refreshing the page, if this problem persists then we'realready working on it!</p>
  </body>
</html>